@import "tailwindcss";

@theme {
  --font-family: var(--font-figtree);
  --font-title: var(--font-merriweather);
  --color-primary: #151515;
  --color-primary-light: #717171;
  --color-primary-rgb: 0, 37, 108;
  --color-secondary: #b8b8b8;
  --color-thirdary: #e7e7e7;
  --color-verde: #ecf5e9;
  --color-morado: #e3daea;
  --color-rojo: #faece6;
  --color-azul: #e5f2ff;
  --color-rosado: #faece6;
  --breakpoint-xs: 400px;
  --breakpoint-3xl: 106rem;
}

@layer base {
  * {
    font-family: var(--font-family);
  }
}
html {
  -webkit-text-size-adjust: 100%;
}
.hide-scrollbar {
  overflow-x: auto;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.slogan-text {
  color: #fff;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px; /* 121.875% */
  letter-spacing: -0.5px;
}
@media (max-width: 769px) {
  .slogan-text {
    font-size: 28px;
  }
}
.container-full {
  width: 100%;
  max-width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .container-full {
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
  }
}

.paragraph-small {
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
}
@media (max-width: 769px) {
  .paragraph-small {
    font-size: 15px;
  }
}

.paragraph {
  font-size: 17px;
  line-height: 150%;
}
@media (max-width: 769px) {
  .paragraph {
    font-size: 15px;
  }
}

.paragraph-xx-small {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
}
@media (max-width: 769px) {
  .paragraph-xx-small {
    font-size: 12px;
  }
}

.paragraph-x-small {
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
}
@media (max-width: 769px) {
  .paragraph-x-small {
    font-size: 12px;
  }
}

.paragraph-x-large {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}
@media (max-width: 769px) {
  .paragraph-x-large {
    font-size: 15px;
  }
}

.title-h1 {
  font-size: 66px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-family: var(--font-title);
}
@media (max-width: 769px) {
  .title-h1 {
    font-size: 28px;
  }
}

.title-h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-family: var(--font-title);
}

@media (max-width: 1280px) {
  .title-h2 {
    font-size: 48px;
  }
}

@media (max-width: 769px) {
  .title-h2 {
    font-size: 28px;
  }
}
.title-h3 {
  font-size: 38px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-family: var(--font-title);
}
@media (max-width: 769px) {
  .title-h3 {
    font-size: 15px;
  }
}

.title-h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-family: var(--font-title);
}
@media (max-width: 769px) {
  .title-h4 {
    font-size: 28px;
  }
}

.title-h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-family: var(--font-title);
}
@media (max-width: 769px) {
  .title-h5 {
    font-size: 26px;
  }
}

.title-h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-family: var(--font-title);
}
@media (max-width: 769px) {
  .title-h6 {
    font-size: 17px;
  }
}

.image-scale {
  transition: transform 500ms cubic-bezier(0.22, 1, 0.36, 1);
}

.image-scale:hover {
  transform: scale(1.05);
}
